/* Write your CSS here */
.coverage-bg {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.coverage-para {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 25px;
  justify-content: flex-start;
  margin: 12px;
}
